In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv('Unemployment .csv')

In [3]:
data.head(30)

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural
5,Andhra Pradesh,31-10-2019,Monthly,3.52,12017412.0,43.01,Rural
6,Andhra Pradesh,30-11-2019,Monthly,4.12,11397681.0,41.00,Rural
7,Andhra Pradesh,31-12-2019,Monthly,4.38,12528395.0,45.14,Rural
8,Andhra Pradesh,31-01-2020,Monthly,4.84,12016676.0,43.46,Rural
9,Andhra Pradesh,29-02-2020,Monthly,5.91,11723617.0,42.83,Rural
10,Andhra Pradesh,31-03-2020,Monthly,4.06,11359660.0,40.66,Rural
11,Andhra Pradesh,30-04-2020,Monthly,16.29,8792827.0,36.03,Rural
12,Andhra Pradesh,31-05-2020,Monthly,14.46,9526902.0,38.16,Rural
13,Andhra Pradesh,30-06-2020,Monthly,0.85,15572975.0,53.76,Rural
14,Assam,31-05-2019,Monthly,4.29,11749334.0,57.39,Rural
15,Assam,30-06-2019,Monthly,5.08,8923222.0,43.87,Rural
16,Assam,31-07-2019,Monthly,4.26,9911534.0,48.21,Rural
17,Assam,31-08-2019,Monthly,5.79,9292039.0,45.83,Rural
18,Assam,30-09-2019,Monthly,4.46,11468349.0,55.67,Rural
19,Assam,31-10-2019,Monthly,4.65,8395906.0,40.76,Rural
20,Assam,30-11-2019,Monthly,4.66,9625362.0,46.64,Rural
21,Assam,31-01-2020,Monthly,4.29,11420996.0,54.90,Rural
22,Assam,29-02-2020,Monthly,3.26,8462814.0,40.17,Rural
23,Assam,31-03-2020,Monthly,3.77,9878742.0,47.05,Rural
24,Assam,31-05-2020,Monthly,9.38,9926176.0,50.00,Rural
25,Assam,30-06-2020,Monthly,0.00,7544937.0,34.38,Rural
26,Bihar,31-05-2019,Monthly,9.27,24322330.0,39.75,Rural
27,Bihar,30-06-2019,Monthly,10.20,24097712.0,39.71,Rural
28,Bihar,31-07-2019,Monthly,13.44,23248875.0,39.66,Rural
29,Bihar,31-08-2019,Monthly,11.00,22260203.0,36.85,Rural

In [4]:
data.describe(include='object')

                Region         Date  Frequency   Area
count              740          740        740    740
unique              28           14          2      2
top     Andhra Pradesh   31-10-2019    Monthly  Urban
freq                28           55        381    381

In [5]:
data.isnull().sum()

Region                                      28
 Date                                       28
 Frequency                                  28
 Estimated Unemployment Rate (%)            28
 Estimated Employed                         28
 Estimated Labour Participation Rate (%)    28
Area                                        28
dtype: int64

In [6]:
df=pd.DataFrame(data)

In [7]:
print("Column names before stripping:", df.columns.tolist())

# Strip any leading/trailing spaces from column names
df.columns = df.columns.str.strip()

# Print the column names after stripping
print("Column names after stripping:", df.columns.tolist())

# Define the columns to check for null values
columns_to_check = ['Region', 'Frequency', 'Estimated Unemployment Rate (%)', 'Estimated Employed', 'Estimated Labour Participation Rate (%)', 'Area']

# Remove rows where any of the specified columns are null
df_cleaned = df.dropna(subset=columns_to_check, how='all')

# Print the cleaned DataFrame
print(df_cleaned)

Column names before stripping: ['Region', ' Date', ' Frequency', ' Estimated Unemployment Rate (%)', ' Estimated Employed', ' Estimated Labour Participation Rate (%)', 'Area']
Column names after stripping: ['Region', 'Date', 'Frequency', 'Estimated Unemployment Rate (%)', 'Estimated Employed', 'Estimated Labour Participation Rate (%)', 'Area']
             Region         Date Frequency  Estimated Unemployment Rate (%)  \
0    Andhra Pradesh   31-05-2019   Monthly                             3.65
1    Andhra Pradesh   30-06-2019   Monthly                             3.05
2    Andhra Pradesh   31-07-2019   Monthly                             3.75
3    Andhra Pradesh   31-08-2019   Monthly                             3.32
4    Andhra Pradesh   30-09-2019   Monthly                             5.17
..              ...          ...       ...                              ...
749     West Bengal   29-02-2020   Monthly                             7.55
750     West Bengal   31-03-2020   Monthly                             6.67
751     West Bengal   30-04-2020   Monthly                            15.63
752     West Bengal   31-05-2020   Monthly                            15.22
753     West Bengal   30-06-2020   Monthly                             9.86

     Estimated Employed  Estimated Labour Participation Rate (%)   Area
0            11999139.0                                    43.24  Rural
1            11755881.0                                    42.05  Rural
2            12086707.0                                    43.50  Rural
3            12285693.0                                    43.97  Rural
4            12256762.0                                    44.68  Rural
..                  ...                                      ...    ...
749          10871168.0                                    44.09  Urban
750          10806105.0                                    43.34  Urban
751           9299466.0                                    41.20  Urban
752           9240903.0                                    40.67  Urban
753           9088931.0                                    37.57  Urban

[740 rows x 7 columns]

In [8]:
df_cleaned

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural
...,...,...,...,...,...,...,...
749,West Bengal,29-02-2020,Monthly,7.55,10871168.0,44.09,Urban
750,West Bengal,31-03-2020,Monthly,6.67,10806105.0,43.34,Urban
751,West Bengal,30-04-2020,Monthly,15.63,9299466.0,41.20,Urban
752,West Bengal,31-05-2020,Monthly,15.22,9240903.0,40.67,Urban
753,West Bengal,30-06-2020,Monthly,9.86,9088931.0,37.57,Urban

In [9]:
df_cleaned[[ 'Day', 'Month','Year']] = df_cleaned['Date'].str.split('-', expand=True)

# Convert 'Year', 'Month', and 'Day' to integers
#df_cleaned = df_cleaned[['Year', 'Month', 'Day']].astype(int)

# Print the cleaned DataFrame with the new columns
print(df_cleaned)

             Region         Date Frequency  Estimated Unemployment Rate (%)  \
0    Andhra Pradesh   31-05-2019   Monthly                             3.65
1    Andhra Pradesh   30-06-2019   Monthly                             3.05
2    Andhra Pradesh   31-07-2019   Monthly                             3.75
3    Andhra Pradesh   31-08-2019   Monthly                             3.32
4    Andhra Pradesh   30-09-2019   Monthly                             5.17
..              ...          ...       ...                              ...
749     West Bengal   29-02-2020   Monthly                             7.55
750     West Bengal   31-03-2020   Monthly                             6.67
751     West Bengal   30-04-2020   Monthly                            15.63
752     West Bengal   31-05-2020   Monthly                            15.22
753     West Bengal   30-06-2020   Monthly                             9.86

     Estimated Employed  Estimated Labour Participation Rate (%)   Area  Day  \
0            11999139.0                                    43.24  Rural   31
1            11755881.0                                    42.05  Rural   30
2            12086707.0                                    43.50  Rural   31
3            12285693.0                                    43.97  Rural   31
4            12256762.0                                    44.68  Rural   30
..                  ...                                      ...    ...  ...
749          10871168.0                                    44.09  Urban   29
750          10806105.0                                    43.34  Urban   31
751           9299466.0                                    41.20  Urban   30
752           9240903.0                                    40.67  Urban   31
753           9088931.0                                    37.57  Urban   30

    Month  Year
0      05  2019
1      06  2019
2      07  2019
3      08  2019
4      09  2019
..    ...   ...
749    02  2020
750    03  2020
751    04  2020
752    05  2020
753    06  2020

[740 rows x 10 columns]

C:\Users\Yash\AppData\Local\Temp\ipykernel_13868\3241271988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[[ 'Day', 'Month','Year']] = df_cleaned['Date'].str.split('-', expand=True)
C:\Users\Yash\AppData\Local\Temp\ipykernel_13868\3241271988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[[ 'Day', 'Month','Year']] = df_cleaned['Date'].str.split('-', expand=True)
C:\Users\Yash\AppData\Local\Temp\ipykernel_13868\3241271988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[[ 'Day', 'Month','Year']] = df_cleaned['Date'].str.split('-', expand=True)

In [10]:
df_cleaned.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area,Day,Month,Year
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural,31,05,2019
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural,30,06,2019
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural,31,07,2019
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural,31,08,2019
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural,30,09,2019

In [11]:
df_cleaned = df_cleaned.drop(columns=['Date'])

In [12]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to 'Frequency' and 'Area' columns
df_cleaned['Frequency'] = label_encoder.fit_transform(df_cleaned['Frequency'])
df_cleaned['Area'] = label_encoder.fit_transform(df_cleaned['Area'])

# Print the cleaned DataFrame with label encoded columns
print(df_cleaned)

             Region  Frequency  Estimated Unemployment Rate (%)  \
0    Andhra Pradesh          0                             3.65
1    Andhra Pradesh          0                             3.05
2    Andhra Pradesh          0                             3.75
3    Andhra Pradesh          0                             3.32
4    Andhra Pradesh          0                             5.17
..              ...        ...                              ...
749     West Bengal          1                             7.55
750     West Bengal          1                             6.67
751     West Bengal          1                            15.63
752     West Bengal          1                            15.22
753     West Bengal          1                             9.86

     Estimated Employed  Estimated Labour Participation Rate (%)  Area  Day  \
0            11999139.0                                    43.24     0   31
1            11755881.0                                    42.05     0   30
2            12086707.0                                    43.50     0   31
3            12285693.0                                    43.97     0   31
4            12256762.0                                    44.68     0   30
..                  ...                                      ...   ...  ...
749          10871168.0                                    44.09     1   29
750          10806105.0                                    43.34     1   31
751           9299466.0                                    41.20     1   30
752           9240903.0                                    40.67     1   31
753           9088931.0                                    37.57     1   30

    Month  Year
0      05  2019
1      06  2019
2      07  2019
3      08  2019
4      09  2019
..    ...   ...
749    02  2020
750    03  2020
751    04  2020
752    05  2020
753    06  2020

[740 rows x 9 columns]

In [13]:
df_cleaned.describe(include='object')

                Region  Day Month  Year
count              740  740   740   740
unique              28    3    12     2
top     Andhra Pradesh   31    05  2019
freq                28  425   105   430

In [14]:
df_cleaned.head()

,Region,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area,Day,Month,Year
0,Andhra Pradesh,0,3.65,11999139.0,43.24,0,31,05,2019
1,Andhra Pradesh,0,3.05,11755881.0,42.05,0,30,06,2019
2,Andhra Pradesh,0,3.75,12086707.0,43.50,0,31,07,2019
3,Andhra Pradesh,0,3.32,12285693.0,43.97,0,31,08,2019
4,Andhra Pradesh,0,5.17,12256762.0,44.68,0,30,09,2019

In [15]:
label_encoder = LabelEncoder()

# Fit and transform 'Year' column
df_cleaned['Year_encoded'] = label_encoder.fit_transform(df_cleaned['Year'])
day_encoded = pd.get_dummies(df_cleaned['Day'], prefix='Day')
day_encoded = day_encoded.astype(int)
df_cleaned = pd.concat([df_cleaned, day_encoded], axis=1)

In [16]:
df_cleaned.head()

,Region,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area,Day,Month,Year,Year_encoded,Day_ 29,Day_ 30,Day_ 31
0,Andhra Pradesh,0,3.65,11999139.0,43.24,0,31,05,2019,0,0,0,1
1,Andhra Pradesh,0,3.05,11755881.0,42.05,0,30,06,2019,0,0,1,0
2,Andhra Pradesh,0,3.75,12086707.0,43.50,0,31,07,2019,0,0,0,1
3,Andhra Pradesh,0,3.32,12285693.0,43.97,0,31,08,2019,0,0,0,1
4,Andhra Pradesh,0,5.17,12256762.0,44.68,0,30,09,2019,0,0,1,0

In [34]:
df_cleaned.drop(columns=['Day'], inplace=True)
df_cleaned.drop(columns=['Year'], inplace=True)

In [36]:
df_cleaned.head()

,Region,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area,Month,Year_encoded,Day_ 29,Day_ 30,Day_ 31
0,Andhra Pradesh,0,3.65,11999139.0,43.24,0,05,0,0,0,1
1,Andhra Pradesh,0,3.05,11755881.0,42.05,0,06,0,0,1,0
2,Andhra Pradesh,0,3.75,12086707.0,43.50,0,07,0,0,0,1
3,Andhra Pradesh,0,3.32,12285693.0,43.97,0,08,0,0,0,1
4,Andhra Pradesh,0,5.17,12256762.0,44.68,0,09,0,0,1,0

In [40]:
df_cleaned.describe(include='object')

                Region Month
count              740   740
unique              28    12
top     Andhra Pradesh    05
freq                28   105

In [58]:
import category_encoders as ce
import pandas as pd
import category_encoders as ce

# Assuming df_cleaned is your DataFrame
encoder = ce.TargetEncoder(cols=['Region', 'Month'])
encoder.fit(df_cleaned, df_cleaned['Estimated Unemployment Rate (%)'])

# Transform columns based on the fitted encoder
df_cleaned_encoded = encoder.transform(df_cleaned)
df_cleaned['Region_encoded'] = df_cleaned_encoded['Region']
df_cleaned['Month_encoded'] = df_cleaned_encoded['Month']

In [72]:
df_cleaned.head()

,Region,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area,Month,Year_encoded,Day_ 29,Day_ 30,Day_ 31,Region_encoded,Month_encoded
0,Andhra Pradesh,0,3.65,11999139.0,43.24,0,05,0,0,0,1,8.813602,16.645202
1,Andhra Pradesh,0,3.05,11755881.0,42.05,0,06,0,0,1,0,8.813602,10.553739
2,Andhra Pradesh,0,3.75,12086707.0,43.50,0,07,0,0,0,1,8.813602,9.122832
3,Andhra Pradesh,0,3.32,12285693.0,43.97,0,08,0,0,0,1,8.813602,9.714403
4,Andhra Pradesh,0,5.17,12256762.0,44.68,0,09,0,0,1,0,8.813602,9.158897

In [82]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Prepare the data
X = df_cleaned.drop(columns=['Estimated Unemployment Rate (%)','Region','Month'])
y = df_cleaned['Estimated Unemployment Rate (%)']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Predict on the test data
y_pred = model.predict(X_test)
# Calculate Mean Squared Error (MSE) and R-squared (R2)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print the results
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 64.73024854098294
R-squared: 0.5528990663454549

In [84]:
import statsmodels.api as sm
X_train = sm.add_constant(X_train)
X_test = sm.add_constant(X_test)
model_sm = sm.OLS(y_train, X_train).fit()
X = sm.add_constant(X)

# Fit OLS regression model
model = sm.OLS(y, X).fit()

# Print model summary
print(model.summary())

                                   OLS Regression Results
===========================================================================================
Dep. Variable:     Estimated Unemployment Rate (%)   R-squared:                       0.520
Model:                                         OLS   Adj. R-squared:                  0.514
Method:                              Least Squares   F-statistic:                     98.89
Date:                             Wed, 10 Jul 2024   Prob (F-statistic):          4.46e-111
Time:                                     16:19:20   Log-Likelihood:                -2533.6
No. Observations:                              740   AIC:                             5085.
Df Residuals:                                  731   BIC:                             5127.
Df Model:                                        8
Covariance Type:                         nonrobust
===========================================================================================================
                                              coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------
const                                     -16.6066      1.685     -9.856      0.000     -19.915     -13.299
Frequency                                   1.4392      0.304      4.728      0.000       0.842       2.037
Estimated Employed                      -5.414e-08   3.74e-08     -1.448      0.148   -1.28e-07    1.92e-08
Estimated Labour Participation Rate (%)     0.0819      0.037      2.214      0.027       0.009       0.155
Area                                        1.4392      0.304      4.728      0.000       0.842       2.037
Year_encoded                                3.8109      0.659      5.781      0.000       2.517       5.105
Day_ 29                                    -7.4358      1.015     -7.323      0.000      -9.429      -5.442
Day_ 30                                    -4.4079      0.733     -6.013      0.000      -5.847      -2.969
Day_ 31                                    -4.7629      0.695     -6.851      0.000      -6.128      -3.398
Region_encoded                              1.4232      0.067     21.177      0.000       1.291       1.555
Month_encoded                               0.8690      0.082     10.657      0.000       0.709       1.029
==============================================================================
Omnibus:                      415.140   Durbin-Watson:                   1.699
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6900.069
Skew:                           2.153   Prob(JB):                         0.00
Kurtosis:                      17.326   Cond. No.                     2.58e+23
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.31e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.